<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>重置密码</title>
    </head>
    <body>
        <h1>重置密码</h1>
        <ul th:if="${errors != null}" style="color: rgb(255,0,0)">
            <li th:each="error : ${errors}" th:text="${error}">error message</li>
        </ul>

        <form th:action="@{reset-password}" method="post">
            <input type="hidden" name="name" th:value="${account.name}"/>
            <input type="hidden" name="email" th:value="${account.email}"/>
            <input type="hidden" name="token" th:value="${session.token}"/>
            <table>
                <tr>
                    <td>密码（8到16字符）：</td>
                    <td><input type="password" name="password" size="25" maxlength="16"></td>
                </tr>
                <tr>
                    <td>确认密码：</td>
                    <td><input type="password" name="password2" size="25" maxlength="16"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="确定">
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
